@mixin sidenav-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);

    .navbar {
        background-color: mat-color($primary);
    }

    .navbar-top {
        background: mat-color($primary);
    }

    .navbar-content::-webkit-scrollbar-thumb {
        background: mat-color($primary);
    }
    
    /* Handle on hover */
    .navbar-content::-webkit-scrollbar-thumb:hover {
        background: mat-color($primary);
    }
}