<div class="navbar">
    <div class="navbar-top">

        <div class="logo">
            <img class="logo-icon" src="../../../assets/icons/icon-72x72.png">
            <span class="logo-text">{{title}}</span>
        </div>

        <div class="buttons">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>palette</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="setTheme('theme-default')">
                    <span>Theme 1</span>
                </button>
                <button mat-menu-item (click)="setTheme('theme-yellow-light')"> 
                    <span>Theme 2</span>
                </button>
                <button mat-menu-item (click)="setTheme('theme-blue-gray-dark')">
                    <span>Theme 3</span>
                </button>
                <button mat-menu-item (click)="setTheme('theme-pink-dark')">
                    <span>Theme 4</span>
                </button>
            </mat-menu>
            <button mat-icon-button class="toggle-sidebar-folded" (click)="hide()">
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>
        </div>

    </div>

    <div class="navbar-content">
        <div class="user" fxLayout="column">
            <div class="avatar-container">
                <img class="avatar" src="../../../assets/icons/icon-72x72.png">
            </div>
            <div class="mat-h3">{{currentUser.profile.firstName}} {{currentUser.profile.lastName}}</div>
        </div>
        <div class="nav">
            <ng-container *ngFor="let item of items">
                <nav-group *ngIf="item.type=='group'" [item]="item"></nav-group>
                <nav-collapsable *ngIf="item.type=='collapsable'" [item]="item"></nav-collapsable>
                <nav-item *ngIf="item.type=='item'" [item]="item"></nav-item>
            </ng-container>
        </div>
    </div>
</div>