:host {

    .app-body {
        overflow-x:hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 64px;
        padding: 25px;
    }

    .app-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    mat-sidenav-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .mat-drawer-side {
            border-right: none !important;
        }

        mat-sidenav {

            ::ng-deep .mat-drawer-inner-container {

                overflow-y: hidden; 

            }

            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            height: 100%;

            width: 300px;
            box-shadow: 0 2px 8px 0 rgba(0,0,0,.35);
        }

    }
    
    mat-form-field {
        width: 100%;
    }

}